@import "./fonts/fonts.css";
.App {
  min-height: 100vh;
  min-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.welcome-text {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.welcome-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.descp-message {
  position: relative;
  font-family: calibri;
  font-size: 40px;
  z-index: 1;
  text-align: center;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  font-size: 140px;
  font-family: Valencia;
  text-align: center;
}

@media (max-width: 768px) {
  .message {
    font-size: 100px;
  }

  .descp-message {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .message {
    font-size: 80px;
  }

  .descp-message {
    font-size: 20px;
  }
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: inherit;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  background-color: #708090;
}
.nav-element:hover {
  scale: 1.15;
  text-decoration: none;
}
.link {
  color: #282c34;
  text-decoration: none !important;
}
.link-i {
  color: #282c34;
  text-decoration: none !important;
}
.link-i:hover {
  color: #282c34;
  text-decoration: underline!important;
}
.logo {
  border-radius: 10px;
  width: 100px;
  height: 60px;
}
.icon {
  width: 30px;
  height: 30px;
}
.valencia-heading {
  font-size: 100px;
  font-family: Valencia;
}
.valencia{
  font-family: Valencia;
}
.prime-text {
  font-family: PrimeCentury;
}
.large {
  font-size: 23px;
}
.large-text {
  font-size: 25px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .nav-element {
    display: none; /* Hide the navigation elements by default */
  }

  .navbar-toggler-icon {
    display: block !important; /* Make the default toggle icon visible */
  }

  .navbar-toggler {
    background-color: #fff; /* Set the background color of the toggle button */
    border: none; /* Remove the border of the toggle button */
  }

  .navbar-toggler:focus,
  .navbar-toggler:hover {
    background-color: #fff; /* Set the background color on focus or hover */
  }

  .navbar-toggler span {
    background-color: #fff; /* Set the color of the toggler bars */
  }
  .valencia-heading {
    font-size: 80px;
    font-family: Valencia;
  }
  .prime-text {
    font-size: 25px;
    font-family: PrimeCentury;
  }
  .logo {
    border-radius: 10px;
    width: 80px;
    height: 50px;
  }
}
